.blanc{
    color: white;
}
.rouge{
    color: red;
    font-size: 90px;

}
.vert{
    color: green;
    font-size: x-large;
}
.jaune{
    color: yellow;
    font-size: xxx-large;
}
.orange{
    color: orange;
    font-size: small;
}
.jaune{
    color:yellow;
}
.violet{
    color: purple;
    font-size: xx-large;
}
.noir{
    color: black;
}
.gris{
    color: gray;
}
.fuchsia{
    color: fuchsia;
}
.marron{
    color: maroon;
}