.lien {
    background-color: darkgray;
}
.btnl, .btn, .navbar {
    font-family:  'josefin sans', sans-serif;
}

p{
    font-family: 'playfair display', sans-serif;
}
.bg-image{
    height: 800px;
    background-size: 102%
}
.mask{
    height: 800px;
    background-size: 102%
}
h3{
    font-family: 'josefin sans', sans-serif;
    font-weight: bold;
}
