.bg-orange {
    color: #9b0707;
    font-size: x-large;
}

.bg-darkpink, .bg-orange {
    height: 40px;
}

.bg-orange {
    background-color: #F2913D;
}

.bg-blue {
    background-color: #05F2F2;
}

.bg-darkpink {
    background-color: #BF0B4D;
}

.bg-red {
    background-color: #9b0707;
}

.bg-purple {
    height: 30px;
    background-color: #F2D338;
}










